html {
  font-family: Helvetica, arial;
}

body {
  margin: 0 auto;
  max-width: 1024px;
  padding: 24px 12px;
}

h1 {
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px 4px 0 0;
  border-bottom: none;
  color: #333;
  display: block;
  font-size: 14px;
  margin: 0;
  padding: 12px 8px;
}
